<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Starter page{% endblock %}</title>
    <link rel="stylesheet" href="css/foundation.css" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>Hello, world!</h1>
    {% endblock %}
    
    {% block javascript %}
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    {% endblock %}
  </body>
</html>
