<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Starter page{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
            <link rel="stylesheet" href="{{asset("resources/cures/css/styles.css")}}" />
        {% endblock %}
    </head>
    <body id="home">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="http://forum.sci.ccny.cuny.edu">
                        CCNY CURES
                    </a>
                    <button class="button navbar-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{ path('home')}}">Home</a>
                        {% block dynamicMenuContent %}
                            <a class="navbar-item" href="{{ path('newWorkOrder') }}">New Request</a>
                        {% endblock dynamicMenuContent %}
                        <a class="navbar-item" href="./status">Request Status</a>
                    </div>
                    <div class="navbar-item" class="navbar-end">
                        <a href="#contact" class="nav-link">Contact</a>
                    </div>
                </div>
            </div>        
        </nav>
        {% block content %}
            <h1>Hello, world!</h1>
        {% endblock %}
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <div class="content has-text-centered">
                        <p>
                            <strong>CCNY CURES</strong> by <a href="https://forum.sci.ccny.cuny.edu">Daniel Fimiarz @ CCNY</a>.
                        </p>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascript %}
            <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
        {% endblock %}
    </body>
</html>
