<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Starter page{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{{asset("resources/vendor/foundation/css/foundation.min.css")}}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>Hello, world!</h1>
    {% endblock %}
    
    {% block javascript %}
    <script src="{{asset("resources/vendor/jquery/jquery.min.js")}}"></script>
    <script src="{{asset("resources/vendor/what-input/what-input.min.js")}}"></script>
    <script src="{{asset("resources/vendor/foundation/js/foundation.min.js")}}"></script>
    <script>
      $(document).foundation();
    </script>
    {% endblock %}
  </body>
</html>
