{% extends "base.template.twig" %}

{% block title %}
    CURES - Submitt a work order
{% endblock %}

{% block styles %}
    {{parent()}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block dynamicMenuContent %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mx-auto">
                <h1>Create new request</h1>
            </div>
        </div>
        <form novalidate>
            <!--
            <div class="row">
                <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
                    <label for="prob_type">Request or Problem type:</label>
                    <div class="autocomplete">
                        <input type="text" placeholder="Short description" id="prob_type">
                        <span id="clearBtn">Clear</span>
                        <div class="suggest_opt">
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="form-group row">

                <div class="col-md-6 col-sm-12 mx-auto">
                    <label for="req_name_input" class="col-form-label"> Your name:</label>
                    <input class="form-control" id="req_name_input" name="requester" type="text">
                    <div class="invalid-feedback">
                        Invalid name
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <label for="req_phone_input"> Phone #:  </label>
                    <input class="form-control" id="req_phone_input" name="phone" type="text">
                    <div class="invalid-feedback">
                        Invalid phone
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <label for="req_email_input"> E-mail address:  </label>
                    <input class="form-control" id="req_email_input" name="email" type="email">
                    <div class="invalid-feedback">
                        Invalid e-mail
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <label for="req_dept_sel"> Department:  </label>    
                    <select class="form-control" id="req_dept_sel" name="dept">
                        <option value="biology">Biology</option>
                        <option value="chemistry">Chemistry</option>
                        <option value="eas">EAS</option>
                        <option value="mathematics">Mathematics</option>
                        <option value="physics">Physics</option>
                        <option value="other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        Invalid department
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">    
                    <label for="prob_type_input">Request or Problem type:</label>
                    <div class="autocomplete_jq">
                        <input type="text" placeholder="e.g Leak" id="problem_type_input" class="form-control" style="margin-bottom: 2px;">
                    </div>
                    <div style="font-size:x-small;margin-bottom: 5px; font-weight: bold;">
                        <span>Last 30 days:</span>
                        <span>Report count: 23</span>
                        <span>Satisfaction: 80%</span>
                        <a href=""><span> more ...</span></a>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">     
                    <label for="prob_loc_input">Problem location:</label>
                    <div class="autocomplete_jq">
                        <input type="text" placeholder="Ex. MR 1320" id="problem_loc_input" class="form-control">
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <label>Detailed description:</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <label>Additional instructions:</label>
                    <textarea class="form-control" placeholder='None'></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <label for="wo_image" class="button">Attach an image...</label>
                    <input type="file" id="wo_image" class="show-for-sr">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-12 mx-auto">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %} 

{% block javascript %}
    {{parent()}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>


        var rTypes = ["Cleaning", "Mopping", "Sweeping", "Keys", "Broken pipe", "Radiator leak", "Too cold", "Too warm", "Mice"];

        $(document).ready(function () {
            /*
             (function(jq){
             
             var isFilled = false;
             
             function initAutocomplete(){
             clearDialog();
             for( var i = 0; i < rTypes.length; i++ ){
             $('.suggest_opt').append('<div>' + rTypes[i] + '</div>');
             }
             }
             
             function clearDialog(){
             console.log("Clearing suggestions");
             $('.suggest_opt').empty();       
             }
             
             $('.autocomplete input').click(function(){
             if( ! isFilled ){
             $('.suggest_opt').addClass('open');
             }
             });
             
             $(document).on('click','.suggest_opt > div',function(e){
             $('.autocomplete input').val($(this).text()).focus();
             $('.autocomplete #clearBtn').addClass("visible");
             
             isFilled = true;
             });
             
             $(".autocomplete #clearBtn").click(function(e){
             isFilled = false;
             $('.suggest_opt').addClass('open');
             $('.autocomplete input').val("").focus();
             $(this).removeClass("visible");
             });
             
             $(".autocomplete #prob_type").on('input',function(){
             $('.suggest_opt').addClass('open');
             isFilled = false;
             });
             
             $('body').on('click',function(e){
             if( ! $(e.target).is("#prob_type, #clearBtn")){
             $(".suggest_opt").removeClass("open");
             }
             });
             
             initAutocomplete();
             })(jQuery);
             */
            $(function ()
            {
                var rTypes = [
                    "Cleaning",
                    "Mopping",
                    "Sweeping",
                    "Keys",
                    "Broken pipe",
                    "Radiator leak",
                    "Too cold",
                    "Too warm",
                    "Too hot",
                    "Mice",
                    "Dust",
                    "Water leak",
                    "Lock",
                    "Elevator",
                    "Shades"
                ];

                var locations = [
                    "MR 101",
                    "MR 102",
                    "MR 1301",
                    "MR 234",
                    "MR 1201",
                    "MR 1001",
                    "MR 1001A",
                    "NAC 4/321",
                    "MR 1328",
                    "Campus grounds",
                    "MR Male restroom",
                    "MR Femmale Restroom",
                    "Elevator",
                    "CDI 13101"
                ];

                $("#problem_type_input").autocomplete(
                        {source: rTypes}
                );


                $("#problem_loc_input").autocomplete(
                        {source: locations}
                );

            }
            );
        });

    </script>
{% endblock %} 


